body{
    margin: 5px;
    padding: 5px;
    border: 5px;
}
#first{
    background-image: url(../images/h_img.jpg);
    text-align: center;
    background-size: cover;
    height: 900px;
    color: white;
    font-weight: bolder;
}
.well{
    background-color: rgb(white, white, white);
}
#second{
    text-align: center;
}
#third{
    text-align: center;
    background-image: url(../images/s_image.jpg);
    height: 450px;
    color: white;
    
}
#div5{
    justify-content: space-between;
}
#div6{
    background-image: url(../images/c_image.jpg);
    text-align: center;
    height: 600px;
    color: white;
}
#div7{
    align-content: center;
}
footer{
    text-align: center;
}