body{
    margin: 5px;
    padding: 5px;
    border: 5px;
}
#first{
    background-image: url(../images/h_img.jpg);
    text-align: center;
    background-size: cover;
    height: 900px;
    color: white;
    font-weight: bolder;
}
.all{
    background-color: rgb(white, white, white);
}
#second{
    text-align: center;
}
#third{
    text-align: center;
    background-image: url(../images/s_image.jpg);
    height: 450px;
    color: white;
    
}
#div5{
    justify-content: space-between;
}
#div6{
    background-image: url(../images/c_image.jpg);
    text-align: center;
    height: 600px;
    color: white;
}
#div7{
    align-items: center;
    margin-top: 20px;
    margin-left: 600px;
    justify-content: space-between;
}
footer{
    text-align: center;
}
.par1{
    display: none;
}
.par2{
    display: none;
}
.par3{
    display: none;
}
.a {
    margin-bottom: 20px;
}
.form{
    background-color: unset;
    color: white;
    border: solid white 1px;
    height: 40px;
    width: 700px;
    justify-content: space-between;
    margin-right: 4px;
}
::placeholder{
    color: white;
    margin-bottom: 200px;
    justify-content: space-between;
    font-size: 20px;
}
.forms{
    background-color: unset;
    color: white;
    border: solid white 1px;
    height: 350px;
    width: 1400px;
}
p{
    font-size: 20px;
}